.jumbotron{
    padding: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
	background-size: cover;
    background-repeat: no-repeat;
} 

body {
    padding: 0;
}

#navigation, .navbar .navbar-default{
    background-image: url("images/sky1.jpg");
}